<app-hnefatafl-board [board]="game.board"></app-hnefatafl-board>

<button (click)="loadGame(0)">Initial position</button>
<button (click)="loadGame(1)">Load position 1</button>
<button (click)="loadGame(2)">Load position 2</button>
<button (click)="loadGame(3)">Load position 3</button>
<button (click)="loadGame(4)">Load position 4</button>
<button (click)="loadGame(5)">Load position 5</button>
<button (click)="loadGame(6)">Load position 6</button>
<button (click)="loadGame(7)">Load position 7</button>
<button (click)="loadGame(8)">Load position 8</button>
