<div>

  <table cdkDropListGroup>
    <tr *ngFor="let column of board" >
      <td class="case"
        *ngFor="let case of column"
        [attr.case-x]="case.x"
        [attr.case-y]="case.y"
        [attr.id]="case.id"
        cdkDropList>
        <ng-template [ngIf]="case.isTower">X</ng-template>
        <ng-template [ngIf]="case.pawn">
          <div class="pawn" [attr.id]="case.pawn.id" [ngClass]="{
              'black': case.pawn.isAttacker,
              'white': case.pawn.isDefender,
              'king': case.pawn.isKing
            }" cdkDrag
            (cdkDragDropped)="event($event, case.id)">
              <ng-template [ngIf]="case.pawn.isKing">+</ng-template>
          </div>
        </ng-template>
      </td>
    </tr>
  </table>

</div>
