<div>

  <table>
    <tr *ngFor="let column of board" >
      <td class="case" *ngFor="let case of column" cdkDrop>
        <ng-template [ngIf]="case.isTower">X</ng-template>
        <ng-template [ngIf]="case.pawn">
          <div class="pawn" [ngClass]="{
              'black': case.pawn.isAttacker,
              'white': case.pawn.isDefender,
              'king': case.pawn.isKing
            }" cdkDrag>
              <ng-template [ngIf]="case.pawn.isKing">+</ng-template>
          </div>
        </ng-template>
      </td>
    </tr>
  </table>

  <!-- <div class="pawn black" cdkDrag (cdkDragDropped)="dropped($event)" (cdkDragEntered)="($event)"></div>
  <div class="pawn white" cdkDrag></div>
  <div class="pawn white king" cdkDrag>+</div> -->

</div>

<!-- <div class="drop" cdkDrop>
  <div class="test" cdkDrag 
    (cdkDragDropped)="event($event)"
    (cdkDragEnded)="event($event)"
    (cdkDragEntered)="event($event)"
    (cdkDragExited)="event($event)"
    (cdkDragMoved)="event($event)"
    (cdkDragReleased)="event($event)"
    (cdkDragStarted)="event($event)">
    X
  </div>
</div> -->
